:root {
    --dark-blue: #1a2a3a;
    --light-green: #bbfd00;
    --white: #f3f3f3;
    --blue: #0055bd;
    --red: #b71c1c;
  }
  
  * {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
}

  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    background: var(--dark-blue);
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }