:root {
  --dark-blue: #1a2a3a;
  --light-green: #bbfd00;
  --white: #f3f3f3;
  --blue: #0055bd;
  --red: #b71c1c;
}

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 300px;

  @media screen and (max-width: 380px) {
    height: 150px;
  }
}

.wrapper {
  align-items: center;
  background: var(--dark-blue);
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  padding: 40px 30px 20px 30px;
  width: 100%;
  flex: 1;
  z-index: 1;

  .header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;

    a {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--light-green);

      i {
        color: var(--light-green);
      }
    }

    .group-avatar {
      border: 1px solid var(--light-green);
      border-radius: 50%;
      padding: 100px;
    }
  }

  @media screen and (max-width: 620px) {
    .header {
      .group-avatar {
        padding: 70px;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  flex: 1;
  box-sizing: border-box;
  width: 100%;

  .title {
    display: flex;
    margin: 20px;
    position: relative;
    box-sizing: border-box;

    .name {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--white);

      h1 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      h2 {
        font-weight: 400;
      }
    }
    }
  }

  .description {
    color: var(--white);
    text-align: center;
    max-height: 150px;
    max-width: 450px;
    overflow: auto;
    box-sizing: border-box;
  }
    
.actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  
  button, a {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &.se-participants {
      background: none;
      border: 1px solid var(--light-green);
      border-radius: 30px;
      color: var(--white);
    }

    &.enter-group {
      background: var(--light-green);
      border: none;
      border-radius: 30px;
      color: var(--dark-blue);
      margin-top: 5px;
    }
  }

}
