*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    background-color: #1A2A3A;
    height: 100%;

}
header{
    text-align: center;
    margin: 60px 4%;
    color: #F3F3F3;
}
header h4{
    margin: 10px;
    font-size: 30px;
}
header p {
    font-size: 15px;
}
section{
    background-color: #F3F3F3;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding: 0 2%;
}
section i{
position: absolute;
top: 25px;
left: 25px;
cursor: pointer;
}
section h5{
    padding: 15px 10px;
    font-size: 22px;
}
section input{    background-color: #F3F3F3;
    color: #1a2a3a;
    margin-top: 60px;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    cursor:pointer; 
    padding-left: 5px; 
    border:2px solid #1a2a3a}
section button{
    background-color: #1A2A3A;
    color: #F3F3F3;
    margin-top: 40px;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    cursor:pointer; 
    border:0
}
.modal {
    position:absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,0);
    width: 400px;
    height: 400px;
    background-color: #F3F3F3;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    padding: 30px 2%;
    display: none;
    z-index: 99;
    

}
.modal h1{
    font-size: 40px;
    margin-bottom: 20px;
    
}
.modal input{
    background-color: #F3F3F3;
    color: #1a2a3a;
    margin-top: 60px;
    width: 70%;
    height: 50px;
    border-radius: 20px; 
    padding-left: 5px; 
    border:2px solid #1a2a3a
    

}
.shadow{
    height: 130%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}
.active {
    display: block
}