:root {
    --dark-blue: #1a2a3a;
    --light-green: #bbfd00;
    --white: #f3f3f3;
    --blue: #0055bd;
    --red: #b71c1c;
}

* {
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100vh;
} 

body {
    display: flex;
    flex-direction: column;
}

#map {
    width: 100%;
    height: 300px;

    @media screen and (max-width: 380px) {
        height: 150px;
    }  
}

.wrapper {
    align-items: center;
    background: var(--dark-blue);
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    padding: 40px 30px 20px 30px;
    width: 100%;
    flex: 1;
    z-index: 1;


    .header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 100%;

        a {
            background: none;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--light-green);
            
            i {
                color: var(--light-green);
            }
        }

        .group-avatar {
            border: 1px solid var(--light-green);
            border-radius: 50%;
            padding: 100px;

            
        }
    }


    @media screen and (max-width: 620px) {
        .header {
            .group-avatar {
                padding: 70px;
            }
        }
    }            

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex: 1 ;
    box-sizing: border-box;
    width: 100%;

    .title {
        display: flex;
        margin: 20px;
        position: relative;
        box-sizing: border-box;

        .name {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--white);

            h1 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            h2 {
                font-weight: 400;
            }
        }

        img {
            position: absolute;
            right: -50px;
            top: 10px;
        }
    }

    .description {
        color: var(--white);
        text-align: center;
        max-height: 150px;
        max-width: 450px;
        overflow: auto;
        box-sizing: border-box;


       
    }

    .days {
        display: flex;
        margin-top: 20px;
        align-items: start;
        overflow: auto;
        max-width: 100%;
        box-sizing: border-box;
        
        span {
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 10px;

            .hour {
                font-size: .8rem;
                font-weight: 400;
            }
        }

        span + span {
            margin-left: 5px;
        }

        .inactive {
            padding: 4px;
            font-weight: 600;
            color: var(--white);

            .hour {
                color: var(--dark-blue);
            }
        }

        .active {
            background: var(--light-green);
            padding: 4px;
            font-weight: 600;
            color: var(--dark-blue);
        }
    }

    .approval {
        margin: 20px 0;
        
        span {
            font-size: 1rem;
            color: var(--white);
            font-weight: 600;
            
            &.deslikes {
                padding-right: 10px;
            }

            &.likes {
                border-left: 1px solid var(--light-green);
                padding-left: 10px;
            }

        }

        i {
            color:var(--light-green);
        }

    }

    @media screen and (max-height: 730px) {
        .description { 
            display: none;
        }

        .days {
            margin-top: 0px;
        }
    }     

}


.actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    button {
        font-size: 1.1rem;
        font-weight: 600;
        padding: 10px;
        cursor: pointer;

        &.see-participants {
            background: none;
            border: 1px solid var(--light-green);
            border-radius: 30px;
            color: var(--white);
        }
        
        &.enter-group{
            background: var(--light-green);
            border: none;
            border-radius: 30px;
            color: var(--dark-blue);
            margin-top: 5px;
        }
    }

}


