*{
    background-color: #1A2A3A;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    margin: 60px 4%;
    color: #f3f3f3;
}
header p{
    margin: 30px;
    font-size: 20px;
}
section{
    color: #f3f3f3;
    text-align: center;
    position: relative;
    padding: 0 2%;
}
section div{
    font-size: 22px;
    padding: 10px;
    margin: 20px;
    }
    button{
       background-color: #ff0000;
       color: #f3f3f3;
       font-size: 22px;
       border-radius: 20px;
       width: 20%;
       height: 50px;
       margin: 30px;
       border: 0;
       cursor: pointer;
    }
    section a{
        text-align: center; 
    }
    img{
        padding: 20px   ;
    }