:root {
  --dark-blue: #1a2a3a;
  --light-green: #bbfd00;
  --white: #f3f3f3;
  --blue: #0055bd;
  --red: #b71c1c;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
  background: var(--dark-blue);
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 50px 50px;
  padding: 20px 0 30px 0;
  width: 100%;

  .title {
    color: var(--white);
    font-size: 1.8rem;

    .subtitle {
      display: block;
      font-size: 1rem;
    }
  }

  a,
  button {
    background: none;
    border: none;
    color: var(--light-green);
    font-size: 1.8rem;
    padding: 20px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  .input-nome-grupo {
    width: 500px;
    padding: 15px;
    outline: 0;
    font-size: 30px;
    border-width: 0 0 2px;
    border-color: var(--light-green);
    background-color: var(--dark-blue);
    border-bottom: 2px solid --light-green;
    color: #f3f3f3;
  }
  .input-nome-grupo:focus {
    outline: none;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px 50px 0 0;
  padding: 30px 0;
  width: 100%;

  a {
    background: none;
    border: none;
    color: var(--light-green);
    text-decoration: none;
    font-size: 1.6rem;
  }
}
